RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?path=$1&module=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?module=$1 [L]

